extends base

block content
    section#home.min-h-screen.flex.item-center.py-8.px-0(class="lg:px-7/100 bg-home-image bg-cover bg-center") 
        .container.max-w-lg 
            h3.text-4xl.uppercase.font-bold.text-white Fresh Coffee
            p.text-xl.font-thin.py-4 Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae pariatur illo rem, molestias doloremque itaque quasi. Accusamus ipsam libero, incidunt blanditiis quidem illum expedita id consectetur dolores dignissimos vitae ipsum.
            a(href="#" class="hover:tracking-widest").btn.mt-4.py-4.w-full.inline-block.text-lg.text-white.text-center.bg-primary.cursor-pointer Come and Buy
    