extends base

block content
    section#home.min-h-screen.flex.py-8.px-0.bg-left.text-center(class="md:px-7/100 md:item-center bg-home-image bg-cover bg-center") 
        .container.max-w-lg 
            h3.text-2xl.uppercase.font-bold.text-white(class="md:text-4xl") Fresh Coffee
            p.text-md.font-thin.py-4(class="md:text-xl") Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae pariatur illo rem, molestias doloremque itaque quasi. Accusamus ipsam libero, incidunt blanditiis quidem illum expedita id consectetur dolores dignissimos vitae ipsum.
            a(href="#" class="hover:tracking-widest md:mx-0 w-1/2 md:w-full").btn.mt-4.py-4.mx-8.inline-block.text-lg.text-white.text-center.bg-primary.cursor-pointer Come and Buy
    
    section#about
        h1.heading  
            span about
        |   us 

        .content 
            .image 
                img(src="", alt="")
            .description 
                h3 what makes our coffee special?
                p.text-md.font-thin.py-4(class="md:text-xl") Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae pariatur illo rem, molestias doloremque itaque quasi. Accusamus ipsam libero, incidunt blanditiis quidem illum expedita id consectetur dolores dignissimos vitae ipsum.
                a(href="#" class="hover:tracking-widest md:mx-0 w-1/2 md:w-full").btn.mt-4.py-4.mx-8.inline-block.text-lg.text-white.text-center.bg-primary.cursor-pointer Learn More
    
            

    